.container{
    width: 75%;
    margin-left: 10%;
    margin-top: 72px;
    border-bottom: 2px solid #f0f0f5;
    padding-bottom: 70px;
    overflow-y: hidden;
}

.text{
    font-size: 22px;
    font-weight: 700;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    background-color: #e2e2e7;
    color: #000;
    padding: 8px 14px;
    border-radius: 50%;
    border: none;
    margin: 0px 8px;
    cursor: pointer;
}

.button i{
    padding-left: 0;
}


.scrollAble{
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    margin-top: 24px;
    scroll-behavior: smooth;
    gap: 40px;
}

.scrollAble::-webkit-scrollbar{
    display: none;
}

.scrollBarContainer{
    position: relative;
    margin-top: 20px;
    margin-left: 50%;    
    z-index: -100;
}

.scrollBar{
    width: 70px;
    height: 5px;
    border-radius: 8px;
    background-color: #f0f0f5;
}

.progress{
    position: absolute;
    top: 0px;
    height: 5px;
    width: 10px;
    background-color: #ff6d00;
    border-radius: 8px;
    margin-left: 0px;
    transition: .5s linear;
}